@import "~styles/breakpoints";
@import "~include-media/dist/include-media";

@mixin styles() {
  :global(#home) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@include media($mobile-small...) {
  $values: ();

  @include styles($values...);
}

@include media($mobile-medium...) {
  $values: ();

  @include styles($values...);
}

@include media($mobile-large...) {
  $values: ();

  @include styles($values...);
}

@include media($mobile-landscape...) {
  $values: ();

  @include styles($values...);
}

@include media($tablet-portrait...) {
  $values: ();

  @include styles($values...);
}

@include media($tablet-landscape...) {
  $values: ();

  @include styles($values...);
}

@include media($laptop...) {
  $values: ();

  @include styles($values...);
}

@include media($laptop-large...) {
  $values: ();

  @include styles($values...);
}

@include media($desktop...) {
  $values: ();

  @include styles($values...);
}

@include media($desktop-large...) {
  $values: ();

  @include styles($values...);
}
