$purple: rgb(90, 100, 175);
$blue: rgb(40, 140, 200);
$green: rgb(185, 225, 85);
$gunmetal: rgb(60, 60, 80);
$cobalt: rgb(130, 150, 175);
$gray: rgb(210, 220, 230);
$chalk: rgb(245, 245, 245);
$white: rgb(255, 255, 255);
$primary-gradient: linear-gradient(90deg, #{$purple} 0%, #{$blue} 100%);
