// https://github.com/eduardoboucas/include-media
// @import "~include-media/dist/include-media";

html {
  overflow: hidden;
}

body {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

  button {
    background: none;
    border: none;

    &:active {
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: auto;
    }
  }
}
